@charset "utf-8";

/* common */
body {
  margin: 0;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}

.btn {
  display: inline-block;
  width: 290px;
  line-height: 45px;
  background: #fff;
  text-align: center;
  color: #f39800;
  border-radius: 5px;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/* header */

img.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

section {
  padding: 90px 0;
}

section:nth-child(odd) {
  background: #f8f8f8;
}

section .container {
  width: 820px
  margin: 0 auto;
}

header {
  background-image: url("../img/bg.png");
  background-size: cover;
}

header .container {
  width: 820px;
  margin: 0 auto;
  height: 320px;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}

header h1, header p {
  color: #fff;
}

header p {
    padding-top: 50px;
}

header h1 {
  font-size: 34px;
  margin-bottom: 50px;
}

header img {
  position: absolute;
  right: 0;
  bottom: 0;
}
